.AboutMe_h1{
   margin: auto;
   width: 60%;
   text-align: center;
}

.paragraphOrnamentNoMargin{
   margin-bottom: 0;
}

.paragrahOrnament_aboutMe_container{
   display: none;
}


.AboutMe_wraper{
   overflow: hidden;
}

.AboutMe_Container{
   position: relative;
   width: 100%;
   background-color: white;
   font-size: 1.3rem;
}

.AboutMe_wraper:nth-child(odd){
   background-color: var(--postBackground);
   border-bottom: 1px solid var(--selectTitle);
}

.AboutMe_article{
   display: grid;
   grid-template-columns: 1fr;
   padding: 6vw;
}

.SecondArticle{
   grid-template-columns: 1fr 1fr;
}

.AboutMe_article_galery{
   padding: 6vw;
}

.AboutMe_paragraph{
   justify-self: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: justify;
}

.FirstParagraph{
   text-align: center;
}

.SecondParagraphContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 6vw;
}

@media(max-width: 1100px){
   .AboutMe_Container{
      font-size: 1rem;
   }
}

@media(max-width: 850px){
   .SecondParagraph{
      margin-right: 0;
   }
   .SecondArticle{
      grid-template-columns: 1fr; 
   }

   .SecondParagraphContainer{
      margin-right: 0;
   }

   .paragrahOrnament_aboutMe_container{
      display: block;
   }
}

@media(max-width: 600px){
   .AboutMe_h1{
      width: 90%;
   }
}
